<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/tamim/IdeaProjects/TestNGReview/src/test/java/review01/testNG.java">
<groups>
    <run>
        <include name="regression"></include>
    </run>
</groups>
<packages>
    <package name="review01"></package>

</packages>
        
    </test>
</suite>